/pay-autotest-web/app
/pay-autotest-script/app
/app
/target
/webapp/node_modules/
*ver/trc/
mail.properties
system.properties
server.properties
*.iml
.settings
.project
.classpath
*.ipr
*.iws
.idea/
pay-autotest-domain/target
pay-autotest-script/target/
pay-autotest-threadpool/target/
pay-autotest-web/target/
pay-email/target/
.DS_Store